.flex-container-header {
    display: flex;
    background-color: beige;
    justify-content: space-around;
    align-items: center;
    
}

.flex-container-content{
    display: flex;
    flex-direction: raw;
    height: 400px;
    width: auto;
    background-color: rgb(59, 158, 238);
    justify-content: center;
    align-items: center;
}

.flex-content {
    display:flex;
    flex-direction:column;
}
.image-placeholder {
    border: 1px solid black;
    height: 250px;
    width: 350px; 
}


.flex-container-random-info {
    display: flex;  
    background-color: lightgreen;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-container-testimonial {
    background-color:lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;

}

.flex-container-call {
    background-color: lightblue;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 70px;
    width: 100px;
}

.box {
    display: flex;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
 
}