.flex-container {
    display: flex;
    background-color: beige;
    flex-flow: raw wrap;    
    justify-content: space-around;
}

.p-header {

   }

.flex-container-random-info {
    display: flex;  
    background-color: lightgreen;
    align-items: center;
    flex-direction: column;
}

.flex-container-testimonial {
    background-color:lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;

}

.flex-container-call {
    background-color: lightblue;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 75px;
}