.body {
    background-color: black;
}
/*Header Section*/
.flex-container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 10px 10  px;
    background-color: #1F2937;
    font-family: helvetica;
}

.div-header {
    display: flex;
    justify-content: space-between;
    width: 500px;
    color: #e5e7eb; 
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

/*Section I*/
.flex-container-content{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #1F2937;;
    }

#text-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 300px;
    height: 75px;
}

#text-descript{
    font-size: 18px;
    color: #e5e7eb;
}

.flex-content {
    display:flex;
    flex-direction:column;
}

.image-placeholder {
    align-items: end;
    justify-content: space-between;
    border: 1px solid black;
    height: 250px;
    width: 350px; 
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100px;
    color: #e5e7eb;
    background-color: #3882f6;
}


/*Section II*/
.flex-container-random-info {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 550px;
    background-color: lightgreen;
    padding: 30px;
}


.box-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.box {

    border: 1px solid #3882f6;
    border-radius: 10px;
    height: 120px;
    width: 150px; 
    margin: 10px;
    text-align: center;
    
}

.text-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .text {
        width: 145px;
        margin: 10px;
    }

#info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/*Section III*/    
.flex-container-testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 350px;
    padding: 40px;
}

.testimonial-text {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    color: #1f2937
}

.testimonial-name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    width: 350px;
    padding-left: 350px;
    font-size: 24px;
    }

/*Section IV*/    
.flex-container-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 40px;
}

.call-descipt {
    display: flex;
    flex-direction: row; 
    
}

.button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100px;
    color: #e5e7eb;
    background-color: #3882f6;
}




